<div id="stories">
  {{#each stories}}
  <div class="stories">
    <h3>
      <a href="{{link}}">{{title}}</a>
    </h3>
    <p>{{synopsis}}</p>
    <button class="addC" data-id="{{_id}}">Add comment</button>
    <div class="comments" id="{{_id}}">
      <h3>Comments</h3>
      <div class="commentsBox">
        {{#each comments}}
        <div>{{author}}- {{comment}}</div>
        {{/each}}
      </div>
      {{!-- <form action="/newcomment" method="POST"> --}}
      <form>
        <input type="text" id="author">
        <textarea name="comment" id="txtarea" cols="30" rows="10"></textarea>
        <button class="cancelC" data-id="{{_id}}">Cancel</button>
        <button class="submit" type="submit" data-id="{{_id}}">Submit</button>
      </form>
    </div>
  </div>
  <br> {{/each}}
</div>